<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApp</title>
    <link rel = 'stylesheet' href = "{% static 'css/style.css' %}">
    <link rel = 'style.js' href = "{% static 'js/script.css' %}">
</head>
<body>
    <div id = 'container'>
        <p><img style="border-radius: 8%;border: 1px solid black;" width=280px, height=160px, src="https://i.postimg.cc/Cxbpd1fk/todo.jpg"  alt="no image found" ></p>
    <h1 style="color: green; text-align: center;"><b>Todo List <img width="40", height="40", src="https://i.postimg.cc/2jxrLnXQ/icons8-sun-with-face-96.png" id="icon">
  </b></h1>

        <div id = 'formContainer'>
            <form method="POST">
    

                {% csrf_token %}
                {{form.task}}
                <button id = 'add' type = 'submit'>add</button>
            </form>
        </div>
        <div id = 'todoItems'>
            {% for todo in tasks %}
                <div class = 'item'>
                    <p>{{todo.task}}</p>
                    <div class = 'controls'>
                        <a href = "{% url 'UpdateItem' todo.id %}"><button class = 'edit'>Edit</button></a>
                        <a href = "{% url 'deleteItem' todo.id %}"><button class = 'delete'>Delete</button></a>
                    </div>
                </div>
            {% endfor %}


        

        </div>
    </div>

   <script>

    var icon = document.getElementById("icon");

    icon.onclick = function(){
        document.body.classList.toggle("dark-theme");
        if(document.body.classList.contains("dark-theme")){
            icon.src = "https://i.postimg.cc/fy6G0FXL/moon-6695-1.png";
        }else{
            icon.src = "https://i.postimg.cc/2jxrLnXQ/icons8-sun-with-face-96.png";
        }
    }


</script>
</body>
</html>
    