<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApp</title>
    <link rel = 'stylesheet' href = "{% static 'css/style.css' %}">
    <link rel = 'stylesheet' href = "{% static 'js/script.js' %}">
    
</head>
<body>
    <div id = 'container'>
        <div>
        <h1><img style="border-radius: 7%;border: 1px solid white;" width=290px, height=470px, src="https://i.postimg.cc/9M4jqxyS/jpg.jpg"  alt="no image found" ></h1>
        </div>

        <h1 style="color: green; text-align: center;"><b>Edit Todo List  <img width="40", height="40", src="https://i.postimg.cc/2jxrLnXQ/icons8-sun-with-face-96.png" id="icon"></b></h1>

        <div id = 'formContainer'>
            <form method="POST">

                {% csrf_token %}
                {{updateForm.task}}
                <button id = 'add' type = 'submit'>add</button>
                
            </form>
        </div>
    </div>


        
   <script>

    var icon = document.getElementById("icon");

    icon.onclick = function(){
        document.body.classList.toggle("dark-theme");
        if(document.body.classList.contains("dark-theme")){
            icon.src = "https://i.postimg.cc/fy6G0FXL/moon-6695-1.png";
        }else{
            icon.src = "https://i.postimg.cc/2jxrLnXQ/icons8-sun-with-face-96.png";
        }
    }


</script>
</body>
</html>