html,
body,
header,
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: Calibri;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;

}
#container{
    background-color: white;
    height: 600px;
    width: 300px;
    border: 2px solid black;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    isolation: isolate;

}
#todoField{
    width: 200px;
    height: 40px;
    border: 2px solid rgb(85, 30, 214);
    border-radius: 5px;
    padding-left: 10px;
}
#add{
    width: 50px;
    height: 40px;
    background-color: rgb(50, 19, 123);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#todoItems{
    width: 280px;
    height: 250px;
    /* border: 2px solid blue; */
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item{
    width: 250px;
    height: 50px;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit, .delete{
    height: 35px;
    width:60px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.edit{
    background-color: rgb(32, 218, 79);
}
.delete{
    background-color: red;
}