html,
body,
header,
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: Calibri;
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
}
#icon{
    width: 30px;
    cursor: pointer;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
#container{
    background-color: var(--secondary-color);
    height: 600px;
    width: 300px;
    border: 2px solid black;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}
#todoField{
    width: 200px;
    height: 40px;
    border: 2px solid rgb(85, 30, 214);
    border-radius: 5px;
    padding-left: 10px;
}
#add{
    width: 50px;
    height: 40px;
    background-color: rgb(50, 19, 123);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#todoItems{
    width: 280px;
    height: 250px;
    /* border: 2px solid blue; */
    overflow: auto;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    justify-content: center;
    flex-direction: column;
}

.item{
    width: 250px;
    height: 50px;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit, .delete{
    height: 35px;
    width:60px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.edit{
    background-color: rgb(32, 218, 79);
}
.delete{
    background-color: red;
}